<% include ../header %>

<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io.connect('http://localhost:3000');
	socket.on('send-client', function(msg) {
		$('#chat').val(function(index, val){
			return val + msg;
		});
	});

	var enviar = function() {
		var msg = $('#msg').val();
		socket.emit('send-server', msg);
	};
</script>
<header>
	<h2>Ntalk - Editar contato</h2>
</header>
<section>
	<pre id="chat"></pre>
	<input type="text" id="msg" placeholder="Mensagem">
	<button onclick = "enviar();">Enviar</button>
</section>

<% include ../exit %>
<% include ../footer %>