<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title>Ntalk - Agenda de contatos</title>
		<link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="./stylesheets/signin.css">
		<link rel="stylesheet" type="text/css" href="./stylesheets/sticky-footer.css">
	</head>
	<body>
		<div id = "wrap" >
			<div class="container">