<% include ../header %>
	<form action = "/entrar" method = "post" class = "form-signin" >
		<h1 class="form-signin-heading" style = "text-align: center;" >Ntalk</h1>
		<h4 class="form-signin-heading" style = "text-align: center;" >Bem-vindo!</h4>

		<input type = "text" name = "nome" placeholder = "Seu nome" class="form-control" >
		<input type = "text" name = "email" placeholder = "Seu e-mail" class="form-control" >
		<button type = "submit" class = "btn btn-lg btn-primary btn-block" >Entrar</button>
	</form>
<% include ../footer %>